<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <h2> The total number of count is <%=count %></h2>
    <button>Join For More Information..</button>
</head>
<body>
    
</body>
</html>